

.main-background {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.808),
      rgba(0, 0, 0, 0.966)
    ),
    url(../../../img/backgroundMain/backgroundImg.webp) ;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 2px solid var(--primary-color);
}

/* .main-background{
  background-color: #333;
} */

.section-featured {
  padding: 4.8rem 0;
}

.heading-film-by {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.75px;
  font-weight: 600;
  margin-bottom: 2.4rem;
  color: #888;
}

.logo {
  display: flex;
  justify-content: center;
  text-align: center;
}

.logo img {
  width: 20rem;
}

.subheading-box {
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.subheading {
  display: block;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.main-section {
  padding: 9.6rem 0;
}

