.card-container-people{
    margin-top: 10rem;
}

.page-card-title{
    font-size: 3rem;
    color: var(--primary-color);
}
.page-card-first-content{
    font-size: 2rem;
}

.page-card-second-content{
    font-size: 2rem;
}

.page-card-third-content{
    font-size: 2rem;
}
