*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    font-weight: 400;
}

*:focus {
    outline: none;
    /* outline: 4px dotted #e67e22; */
    /* outline-offset: 8px; */
    box-shadow: 0 0 0 0.8rem hsla(47, 100%, 62%, 0.274);
    border-radius: 10px;
    padding: 1rem;
}

